/* major sections */

body 
{
    background-color: #DEDEDE;
	font-family: Arial,sans-serif;
	text-align: center;
}

#wrapper
{
  margin: 0 auto;
  width: 980px;
  background: #FFFFFF;
}

#content
{
  border-top: 1px #939393 solid;
  border-bottom: 1px #939393 solid;
  border-left: 1px silver solid;
  border-right: 1px silver solid;
}

#leftColumn
{
	float: left;
	margin-right: 20px;
	width: 185px;  
	background-color: #F0EDF8;
  border-right: 1px silver solid;
  padding-bottom: 5em;
}

#bodyColumn /* containts both middleColumn and rightColumn */
{
  padding-top: 2em;
}

#middleColumn
{
	background: transparent;
	float: left;
	margin-right: 20px;
	width: 445px;
	text-align: left;
}

#rightColumn
{
	background: transparent;
	float: left;
	padding-right: 15px;
	width: 280px;
}

.clear
{
	clear:both;
}

/* general formatting */
a
{
	color: #7036be;
	font-weight: bold;
	text-decoration: none;
	font-size:inherit;
}
a:hover
{
	text-decoration: underline;
}
div, span, p, blockquote, pre, code, em, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	font-size: 12px;
	line-height: 16px;
}

hr
{
  display: none;
}

img
{
  border: 0;
}

/* left column - navigation */
#leftColumn #navColumn
{
  margin: 0 20px 0 10px;
}

#navColumn li
{
	list-style-position: inside;
	margin-left: 10px;
	padding: 0px;
}

#navColumn ul
{
  text-align: left;
  padding: 0;
  margin: 0 0 1em 0;
}

#navColumn .separator
{
	border-top: 1px dotted #d4d4dd;
  text-align: left;
  padding: 0.5em 0 0 0;
	margin: 0.5em 0 0 0;
	font-weight: bold;
	font-size: 1em;
}

#navColumn img.poweredBy {
  max-width: 120px;
  margin: 0.5em 0;
}

/* middle column - main content */
#middleColumn p
{ 
	font-size: 1.2em;
	text-align: justify;
}

#middleColumn td
{
  text-align: left;
}

/* right column - includes*/
#rightColumn iframe
{
  width: 280px;
  border: 0;
}

#rightColumn iframe.offers {
  margin-top: 1em;
  height: 400px;
}

#rightColumn iframe.study {
  height: 350px;
}

/* header */
#banner
{
  background-color: #DEDEDE;
  text-align: left;
}

/* footer */
#footer
{
  background-color: #B5B5AC;
  border-top: 1px #939393 solid;
  padding: 1em 2em;
  font-weight: bold;
}

#footer .xleft
{
  float: left;
  color: #FFFFFF;
}

#footer .xright
{
  float: right;
}

